{%extends 'text/base.html'%}
{%block title%}天天生鲜-详细页{%endblock title%}
{%block script%}
	<script type="text/javascript">
    $(function(){
        $('.add').click(function(){
            var add_num = $(this).prev().val();
            add_num = parseInt(add_num) + 1;
            $(this).prev().val(add_num);  
            var total_price = $(this).prev().val() * ({{goods.goods_price}}*100)/100;
        	$('.total > em').text(total_price.toFixed(2)); 
        });
        $('.minus').click(function(){
        	var minus_num = $(this).prev().prev().val();
        	if(parseInt(minus_num)>1){
        		minus_num = parseInt(minus_num) - 1;
        	}
        	$(this).prev().prev().val(minus_num);
        	var total_price = parseFloat($(this).prev().prev().val()) * ({{goods.goods_price}}*100)/100;
        	$('.total > em').text(total_price.toFixed(2));
        });
        $('.num_show').blur(function(){
        	var price = parseFloat({{goods.goods_price}})
        	var value = parseInt($(this).val())
        	if(value <1|isNaN(value)){
        		$(this).val(1);
        		var total_price = $(this).val() * (price*100)/100
        		$('.total > em').text(total_price.toFixed(2));
        		
        	}else{
        		$(this).val(value)
        		var total_price = value * (price*100)/100
        		$('.total > em').text(total_price.toFixed(2));
        	};
        	
        });
        $('.detail_tab li').click(function(){
        	$(this).addClass('active');
        	$(this).siblings().removeClass('active');
        });
        $('#add_cart').click(function(){
        	var value = parseInt($('.num_show').val()) + parseInt({{goods_count}});
        	$('#show_count').text(value);
        })
    })
    </script>
{%endblock script%}
{%block cart%}
        <div class="guest_cart fr">
            <a href="{%url 'main:index'%}" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl" id="show_count">{{goods_count}}</div>
        </div>
        {%endblock cart%}
{%block content%}
{%load static from staticfiles%}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					{%for list in goods_list%}
					<li><a href="{%url 'main:list' list.id%}" class="{{list.goods_list_class}}">{{list.goods_list_name}}</a></li>
					{%endfor%}
					
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{%url 'main:index'%}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="{%url 'main:index'%}">全部分类</a>
		<span>></span>
		<a href="{%url 'main:list' list_id%}">{{list_name}}</a>
		<span>></span>
		<a href="#goodsdetail">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{%static goods.goods_pic_url%}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goods.goods_name}}</h3>
			<p>{{goods.goods_description|safe}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{goods.goods_price}}</em></span>
				<span class="show_unit">单  位：{{goods.goods_unit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>
				</div> 
				<div class="num_stock fr">库存:&nbsp;&nbsp;{{goods.goods_stock}}&nbsp;&nbsp;个</div>
			</div>
			<div class="total">总价：<em>{{goods.goods_price}}</em>&nbsp;&nbsp;元</div>
			<div class="operate_btn">
				<a href="{%url 'main:place_order'%}" class="buy_btn">立即购买</a>
				<a href="{%url 'main:cart'%}" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{%for goods_one in goods_info%}
					<li>
						<a href="{%url 'main:detail' goods_one.id%}"><img src="{%static goods_one.goods_pic_url%}"></a>
						<h4><a href="#">{{goods_one.goods_name}}</a></h4>
						<div class="prize">￥{{goods_one.goods_price}}</div>
					</li>
					{%endfor%}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li >评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt id='goodsdetail'>商品详情：</dt>
					<dd>{{goods.goods_msg|safe}} </dd>
				</dl>
			</div>

		</div>
	</div>
{%endblock content%}
{%block button%}
<!--<div class="add_jump"></div>

	
	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
						$('#show_count').html(2);
					});

			});
		})
	</script>-->
{%endblock button%}